footer
  .container.text-center
    p.pull-left © 2017 Spencer Snyder, All Rights Reserved
    ul.pull-right.list-inline
      li
        p Made with &#9829 by <a href='http://spencersnyder.io'/> Spencer Snyder</a>
      li
        p &#8226
      li
        a(href='mailto:sasnyde2@gmail.com') Contact Developer
