extends layout

block content
  .row
    .col-sm-12
      h1
        .fa.fa-film 
        | Movies Now!
      p.lead Search for and find movies that are playing right now!
  hr
  .row
    .col-sm-6
      h2 Show Me ALL Movies that are playing
      p This list of movies is called from the MDB API through the Node.JS backend. Built out with <a href="https://getbootstrap.com/docs/3.3/" >bootstrap</a> and beautifully paginated for your viewing pleasure. 
      p
        a.btn.btn-default(href='/movies', role='button') 
          i.fa.fa-eye
          | Show Me »
    .col-sm-6
      h2 Search for a specific movie!
      p The search is utilizing the MDB search movie API, and is called from the server, not the client. Take a peek at the beautiful spinners!.
      p
        a.btn.btn-default(href="/movies/search?query=a", role='button') 
          i.fa.fa-search
          | Search »
  .row
    .col-xs-12.text-center
      .well
        h4 Quick Search:
        form(action="/movies/search")
          input(type="text" name="query" id="quicksearch" class="form-control" placeholder="...what movie are you looking for?")
          button(type="submit" role="button" class="btn btn-default") Search
